fieldset {
    border-radius: 10%;
    text-align: center;
    }

    body {
        text-align: center !important;
        background-color: rgb(252, 244, 178)!important;
        
    }
    h1 {
        background-color: rgba(16, 104, 77, 0.767);
        padding-bottom: 25px;
        padding-top: 25px;
        color: white;
        
    }
    
   h5 { 
       background-color: rgb(250, 222, 185);  
       padding-bottom: 15px;
       padding-top: 15px;
}
 